<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/headerinclude :: headerinclude"/>
<body>
	<header th:include="fragments/header :: header"></header>
	<div id="maincontent">
		
		<h2>Add new Booking:</h2>

		<form th:action="@{/bookings}" method="post" th:object="${booking}">
		    <label for="customer-dropdown">Customer: </label>
			<select name="customerId" id="customerId" th:field="*{customerId}">
			    <option 
			    	th:each="customerData : ${CustomerDropdown}"
			    	th:value="${customerData.customer.id}"
					th:text="${customerData.display}"
					th:selected="${booking.isCustomerSelected(customerData.customer.id)}"
				></option>
			</select>    
			
			<label for="room-dropdown">Room: </label>
			<select name="roomId" id="roomId" th:field="*{roomId}">
			    <option
					th:each="room : ${existingRooms}"
					th:value="${room.id}"
					th:text="${room.roomNumber}"
					th:selected="${booking.isRoomSelected(room.id)}"
			    ></option>
			</select>
		    
		    <div class="formfield"><label>Start date: </label> <input type="date" name="startDate" th:field="*{startDate}" th:value="${booking.getStartDateAsString()}"></div>
		    <div class="formfield"><label>End date: </label> <input type="date" name="endDate" th:field="*{endDate}" th:value="${booking.getEndDateAsString()}"></div>
		
		    <br/>
		    <input type="submit" value="Add booking">
		</form>
		
		<div th:class="${errorText == null} ? 'errorBoxEmpty' : 'errorBox'" th:text="${errorText}"></div>
		<br/><br/>
		<div class="grid-container">
			<div class="grid-item listing bookingListing" th:classappend="${booking.dateRangeIsValid()}?'dateRangeIsValid':''" th:each="booking : ${existingBookings}">
				<div class="listingInfo roomListingInfo">
					<div class="customerName">Customer <span th:text="${booking.customer.name}"></span></div>
					
					<div class="roomName">Room <span th:text="${#numbers.formatInteger(booking.room.roomNumber,0)}"></span></div>
					<div class="startDate">Start Date <span th:text="${booking.startDate}"></span></div>
					<div class="endDate">End Date <span th:text="${booking.endDate}"></span></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
