<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/headerinclude :: headerinclude"/>
<body>
	<header th:include="fragments/header :: header"></header>
	<div id="maincontentfront">
		<!-- <a th:href="@{/addCustomer}">here</a> to add a new Customer!
		<br><br><br>
		<form th:action="@{/search}" method="get">
			<label>Search for books by any word in title: </label> 
			<input type="text" name="title"> 
			<input type="submit" value="search for books">
		</form> -->
		<button onClick = "window.location.href= '/customers';" id = maincontentfrontbutton>Customers</button><br/>
		<button onClick = "window.location.href= '/rooms';" id = maincontentfrontbutton>Rooms</button><br/>
		<button onClick = "window.location.href= '/bookings';" id = maincontentfrontbutton>Bookings</button><br/>
		<button onClick = "window.location.href= '/services';" id = maincontentfrontbutton>Services</button><br/>
	</div>
</body>
</html>