<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/headerinclude :: headerinclude"/>
<body>
	<header th:include="fragments/header :: header"></header>
	<div id="maincontent">
		<a th:href="@{/}">Back</a><br/><br/>
		
		<h2>Add new room:</h2>

		<form th:action="@{/processAddRoom}" method="post" th:object="${room}">
			<div class="formfield"><label>Room Number: </label> <input type="number" name="roomNumber" th:field="*{roomNumber}"></div>
			<div class="formfield"><label>Room Type: </label> <input type="text" name="type" th:field="*{type}"></div>
			<div class="formfield"><label>Room Price: </label> <input type="number" name="price" th:field="*{price}"></div>
	
			<br/>
			<input type="submit" value="Add Room">
		</form>
		<br/><br/>
		<div class="listing roomListing" th:each="room : ${existingRooms}">
			<div class="roomName">Room <span th:text="${#numbers.formatInteger(room.roomNumber,0)}"></span></div>
			<div class="roomType"><span th:text="${room.type}"></span></div>
			<div class="roomCost"><span th:text="${#numbers.formatCurrency(room.price)}"></span></div>
			<form th:action="@{/bookThisRoom}" method="post" th:object="${room}" style="display: hidden;"></form>
		</div>
		<!-- <form th:action="@{/search}" method="get">
			<label>Search for books by any word in title: </label> 
			<input type="text" name="title"> 
			<input type="submit" value="search for books">
		</form> -->
	</div>
</body>
</html>