<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/headerinclude :: headerinclude"/>
<body>
	<header th:include="fragments/header :: header"></header>
	<div id="maincontent">
		<a th:href="@{/}">Back</a><br/><br/>
		
		<h2>Service details:</h2>

		
		
		
		
		
		<!-- Display provided services in a grid -->
		
		<label for="booking-dropdown">Booking: </label>
			<select id="booking-dropdown">
			    <option th:each="booking : ${existingBookings}" th:value="${booking}">
			        <span th:date="${booking.startDate}"></span>
			    </option>
			</select>
		
		<div class="grid-container">
			<div class="grid-item listing serviceListing" th:each="service : ${existingServices}">
				<div class="listingInfo roomListingInfo">
					<div class="name">Service Name: <span th:text="${service.name}"></span></div>
					
					<div class="description">Service Description: <span th:text="${service.description}"></span></div>
					<div class="price">Service Price: <span th:text="${service.price}"></span></div>
					
				</div>
			</div>
		</div>
		
		
	</div>
</body>
</html>