<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/headerinclude :: headerinclude"/>
<body>
	<header th:include="fragments/header :: header"></header>
	<div id="maincontent">
		<a th:href="@{/}">Back</a><br/><br/>
		
		<h2>Service details:</h2>

		<form th:action="@{/processAddService}" method="post" th:object="${service}">
			<div class="formfield"><label>Name: </label> <input type="text" name="name" th:field="*{name}"></div>
			<div class="formfield"><label>Description: </label> <input type="text" name="description" th:field="*{description}"></div>
			<div class="formfield"><label>Price: </label> <input type="number" name="price" th:field="*{price}"></div>
	
			<br/>
			<input type="submit" value="Add Service">
		
		
		
		
		<!-- Display provided services in a grid -->
		
			<label for="bookingId">Booking: </label>
			<!-- <select name="bookingId" id="bookingId" th:field="*{bookingId}">
			    <option 
			    	th:each="booking : ${existingBookings}"
			    	th:value="${booking.id}"
					th:text="${booking.id}"
				></option>
			</select> -->
			<select name="bookingId" id="bookingId" th:field="*{bookingId}">
			    <option
					th:each="booking : ${existingBookings}"
					th:value="${booking.id}"
					th:text="${booking.toDropDown()}"
					
			    ></option><!-- th:selected="${booking.isRoomSelected(room.id)}" -->
			</select>
		</form>
		
		<div class="grid-container">
			<div class="grid-item listing serviceListing" th:each="service : ${existingServices}">
				<div class="listingInfo roomListingInfo">
					<div class="name">Service Name: <span th:text="${service.name}"></span></div>
					
					<div class="description">Service Description: <span th:text="${service.description}"></span></div>
					<div class="price">Service Price: <span th:text="${service.price}"></span></div>
					
				</div>
			</div>
		</div>
		
		
	</div>
</body>
</html>